:root {
  --primary-color   : #31343d;
  --secondary-color : #92cccd;
  --tertiary-color  : #445876;
  --quaternary-color: #ededf6;
}

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

body {
  background-color: var(--quaternary-color);
  font-family     : Verdana, Geneva, Tahoma, sans-serif;
}

/* .side { */
/* color         : var(--tertiary-color);
  padding-right: 15px;
  width         : 250px;
  text-align    : end;
  /* display       : flex;
  flex-direction: column; */
/* flex-wrap     : wrap; */
/* align-content : flex-end; */
/* font-size     : 2.5em; */
/* } */
.left-side {
  border-right     : 3px solid var(--tertiary-color);
  position         : relative;
  color            : var(--tertiary-color);
  padding-right    : 15px;
  width            : 250px;
  text-align       : end;
  /* display       : flex;
  flex-direction   : column; */
  /* flex-wrap     : wrap; */
  /* align-content : flex-end; */
  font-size        : 1.5em;

}


.right-side {
  padding: 20px;
  width  : 100%;
}

header {
  padding         : 20px 0;
  background-color: var(--primary-color);
  display         : flex;
  justify-content : space-between;
  flex-wrap       : wrap;
  /* position     : sticky;
    position      : -webkit-sticky; */
  top             : 0;
  z-index         : 9999;
}

header h1 {
  background-color   : var(--secondary-color);
  font-weight        : bold;
  margin             : 0;
  font-size          : 48px;
  /* color           : var(--primary-color); */
  width              : 500px;

}

/* styling of a in h1 in header -> Stepan Matysik */
header h1 a {
  text-decoration: none;
  padding-right  : 10px;
  justify-content: flex-end;
  display        : flex;
  color          : var(--primary-color)
}

header nav ul li a {
  color      : var(--secondary-color);
  padding    : 10px 15px;
  font-weight: lighter;
  font-size  : 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* contact me and header nav styles */

nav a {
  text-decoration: none;
  color          : var(--primary-color);
  border-bottom  : 3px solid;
  margin         : 10px;
}


.navigation {
  display       : flex;
  /* align-items: center; */
}

.navigation ul {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  align-content  : space-between;
  list-style     : none;
}

/* .navigation #info {
  padding-left: 50px;
} */

/* hero styles */

.hero {
  background-image: url('../images/stepan_photo.jpg');
  height          : 600px;
  background-size : cover;
  display         : flex;
  justify-content : flex-end;

  /* flex-wrap               : wrap; */
  align-items                : flex-end;
  /* object-fit              : contain; */
  /* background-attachment   : fixed; */
  /* background-position     : 80%; */
}

.hero-box {
  background-color: var(--quaternary-color);
  padding         : 12px;
  color           : var(--primary-color);
  width           : fit-content;
  margin          : 0 55px 20px 0;
  text-align      : center;
  border-radius   : 15px;
}

/* about me work and contact section */

#about-me,
#work,
#contact-me {
  display           : flex;
  margin            : 30px 0;
  /* justify-content: space-between; */
}

/* .right-side {
  border-left: 3px solid #445876;
  padding    : 20px;
} */

.first-line,
.second-line,
.trird-line {
  display  : flex;
  flex-flow: row wrap;
}

.first-line {
  width: 100%;
}

.second-line,
.third-line {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}




/* i'm trying to add DRY to box 1 and box 2 to keep same styling together
work .right-side div i want to remove */


.box1,
.box5,
.box4,
.box3,
.box2 {
  border             : 4px solid var(--secondary-color);
  margin             : 10px 0;
  width              : 100%;
  height             : 400px;
  display            : flex;
  align-items        : flex-end;
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
  position           : relative;
  object-fit         : contain;
}

.box5,
.box4,
.box3,
.box2 {
  /* border: 3px solid var(--secondary-color);
  margin: 10px auto; */
  width : 49%;
  height: 30vh;

}



.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
  box-shadow: inset 0 0 0 1000px rgba(226, 197, 111, 0.5);
}

/* Surf Report */
.box1 {
  margin-top      : 0;
  /* height       : 400px; */
  background-image: url("../images/horiseon.jpg");
}

/* Led Wall */
.box2 {
  background-image: url("../images/led-wall.jpeg");
}

/* Calculator */
.box3 {
  background-image: url("../images/calculator.jpeg");

}

/* Pastel Puzzles */
.box4 {
  background-image: url("../images/pastel-puzzles.webp");

}

/* run-buddy project */
.box5 {
  background-image   : url("../images/run-buddy.png");
  background-position: initial;

}

.box-name {
  width           : fit-content;
  background-color: var(--secondary-color);
  margin          : 20px 20px 20px 0;
  font-family     : Trebuchet MS, sans-serif;
  font-size       : 1em;

}

footer {
  background     : var(--primary-color);
  color          : var(--secondary-color);
  width          : 100%;
  padding        : 40px 35px;
  display        : flex;
  /* lets display boxes with moving them around while resizing the window */
  justify-content: center;
  /* will position two boxes with equal empty space in between them */
  flex-wrap      : wrap;
  /* will wrap boxes one under another */
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {


  header {
    padding        : 3px 0;
    padding-bottom : 19px;
    justify-content: center;
    position       : relative;
  }

  header h1 {
    font-size: 30px;
    width    : 300px;
  }

  header h1 a {
    justify-content: center;
    padding        : 0;
  }

  .hero {
    height: 367px;
  }

  .text-info {
    font-size: small;
  }

  .box1 {
    height: 290px;
  }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  nav a {
    font-size: 2vw;
  }

  .hero-box {
    font-size: 10px;
  }

  .left-side {
    font-size: 1em;
    width    : 165px;
  }

  .box1 {
    height: 200px;
  }

  .box2,
  .box3,
  .box4,
  .box5 {
    height: 100px;
  }

  .box-name {
    font-size: 10px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .left-side {
    font-size: 10px;
    width    : 117px;
  }

  .navigation ul li a {
    font-size: 2.5vw;
  }

  footer {
    font-size: 3vw;
  }
  
}